@use "tokens";

.productCard {
  background-color: tokens.$white-color;
  display: grid;
  grid-template-columns: 8fr 2fr;
  gap: tokens.$space-large;
  padding: tokens.$space-medium;

  > div {
    display: flex;
    flex-direction: row;

    > img {
      margin-right: tokens.$space-medium;
      display: flex;
      border-radius: 4px;
      border: 1px solid black;
    }

    > div {
      display: flex;
      flex-direction: column;
      font-size: tokens.$font-size-large;
      margin-top: tokens.$space-large;
    }
  }
}

.description {
  display: flex;
  flex-direction: column;
  font-size: tokens.$font-size-medium;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: tokens.$space-xlarge;

  > img {
    margin: tokens.$space-zero tokens.$space-medium;
    cursor: pointer;
  }
}

.location {
  font-size: tokens.$font-size-small;
  color: tokens.$grayscale-medium;
  margin-top: tokens.$space-xlarge;
}
